@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../font/OpenSansBold.woff2") format("woff2"),
    url("../font/OpenSansBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../font/OpenSansRegular.woff2") format("woff2"),
    url("../font/OpenSansRegular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("../font/PoppinsSemiBold.woff2") format("woff2"),
    url("../font/PoppinsSemiBold.woff") format("woff");
  font-display: swap;
}
