.header {
  max-width: 90rem;
  left: 50%;
  transform: translateX(-50%);

  @include flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;

  padding: 3rem clamp(3rem, 2.2958rem + 3.0047vw, 5rem);
  z-index: 10;

  @media only screen and (max-width: 40rem) {
    padding: 1.4rem 1rem;
  }

  &__logo {
    width: 12rem;

    @media only screen and (max-width: 40rem) {
      width: 6.5rem;
    }
  }
}
